AddnApp/obj/
AddnApp/bin/
AddnApp/bin/Debug
.vs/AddnApp/
packages/
AddnAppDB/obj/
Framework.AddApp.Mobile.Api/obj/
Framework.AddApp.Mobile.Api/bin/Release/netstandard2.0/Framework.AddApp.Mobile.deps.json
AddnAppDB/bin/Debug/Xamarin.Forms.Core.dll
AddnAppDB/bin/Debug/AddnAppDB.pdb
AddnAppDB/bin/Debug/AddnAppDB.dll
Images/E/Eguemiel Miquelin Junior -- Miquelin Jr Equipamentos/Unidade Sertãozinho/2018/NF 1234 R.R. 2344 Rosa Pilicoildal/9_18_2018_9_05_09_PM.jpg
Images/E/Eguemiel Miquelin Junior -- Miquelin Jr Equipamentos/Unidade Sertãozinho/2018/NF 1234 R.R. 2344 Rosa Pilicoildal/9_18_2018_9_05_08_PM.jpg
Images/E/Eguemiel Miquelin Junior -- Miquelin Jr Equipamentos/Unidade Sertãozinho/2018/NF 1234 R.R. 2344 Rosa Pilicoildal/9_18_2018_9_04_49_PM.jpg
Framework.AddApp.Mobile.Api/bin/Release/netstandard2.0/Framework.AddApp.Mobile.pdb
Framework.AddApp.Mobile.Api/bin/Release/netstandard2.0/Framework.AddApp.Mobile.dll
Framework.AddApp.Mobile.Api/bin/Debug/netstandard2.0/Framework.AddApp.Mobile.pdb
Framework.AddApp.Mobile.Api/bin/Debug/netstandard2.0/Framework.AddApp.Mobile.dll
AddnAppDB/bin/Debug/Xamarin.Forms.Xaml.pdb
AddnAppDB/bin/Debug/Xamarin.Forms.Xaml.dll
AddnAppDB/bin/Debug/Xamarin.Forms.Platform.pdb
AddnAppDB/bin/Debug/Xamarin.Forms.Platform.dll
AddnAppDB/bin/Debug/Xamarin.Forms.Core.pdb
